!!!
<!DOCTYPE html>
%html
	%head
		%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-135756599-1"}
		:javascript
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-135756599-1');

		%title Château de Missery
		%script{:src => "https://use.fontawesome.com/6ee47c5b0b.js"}
		%meta{:name => "viewport", :content=> "width=device-width, initial-scale=1.0"}
		%link{:rel => "canonical", :href => "http://chateaudemissery.com"}
		= csrf_meta_tags
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track"=> "reload"
		= javascript_include_tag "application", "data-turbolinks-track" => "reload"
		:javascript
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '2018534681517552');
			fbq('track', 'PageView');
		%noscript
		%img{:height => "1", :src => "https://www.facebook.com/tr?id=2018534681517552&ev=PageView&noscript=1", :style => "display:none", :width => "1"}/
	%body
		#flex-content-container
			%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.booyah-box.navbar-style
				%button.navbar-toggler.navbar-toggler-right{"type" => "button", "data-toggle" => "collapse", "data-target" => "#navbarNav", "aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle"}
					%span.navbar-toggler-icon
				%a
					%h1.title-name
						=link_to "Château de Missery", root_path
				.collapse.navbar-collapse{"id" => "navbarNav"}
					= render 'default/shared/navigation'
			= yield	
		#footer
			%p.text-muted.copyright
				Missery, Burgundy, France
				| &copy 2019 | chateaudemissery.com | All Rights Reserved
		:javascript
			jQuery(document).ready(function() {
			var offset = 220;
			var duration = 500;
			jQuery(window).scroll(function() {
				if (jQuery(this).scrollTop() > offset) {
					jQuery('.crunchify-top').fadeIn(duration);
				} else {
					jQuery('.crunchify-top').fadeOut(duration);
				}
			});
	 
			jQuery('.crunchify-top').click(function(event) {
				event.preventDefault();
				jQuery('html, body').animate({scrollTop: 0}, duration);
				return false;
				})
			});

			jQuery('.open-content a').click(function(){
			    jQuery(this).attr('target', '_blank');
			});

