!!!
<!DOCTYPE html>
%html
	%head
		
		%title Chateau
		= csrf_meta_tags
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track"=> "reload"
		= javascript_include_tag "application", "data-turbolinks-track" => "reload"




	%body
		#flex-content-container
			%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.booyah-box.navbar-style
				%button.navbar-toggler.navbar-toggler-right{"type" => "button", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", "aria-expanded" => "false", "aria-controls" => "navbar"}
					%span.navbar-toggler-icon
				%a
					.title-name.h1
						=link_to "Chateau de Missery", root_path

				.collapse.navbar-collapse{"id" => "bs-example-navbar-collapse-1"}
					%ul.navbar-nav.navbar-right
					= render 'default/shared/navigation'

			= yield

		#footer
			.row
				.col-6
					%p.text-muted For further information, please contact
					= mail_to "lucy@chateaudemissery.com", "Lucy"
				.col-6.text-right
					%span.float-xs-right
						%p As listed on
						%a
						=link_to image_tag("sawdays_logo.jpg", class: "sawdays"), root_path
						%a
						=link_to image_tag("twitter_logo.png", ), "https://twitter.com/ChateauMissery"
						%a
						=link_to "Map", root_path
						%a
						=link_to "Press", root_path
						%a
						=link_to "Links", root_path

