!!!
<!DOCTYPE html>
%html
	%head
		
		%title Chateau
		= csrf_meta_tags
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track"=> "reload"
		= javascript_include_tag "application", "data-turbolinks-track" => "reload"



	%body
		%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.navbar-style
			%button.navbar-toggler.navbar-toggler-right{"type" => "button", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse"}
				%span.navbar-toggler-icon

			%a.navbar-brand
				=link_to "Chateau de Missery", root_path

			.collapse.navbar-collapse{"id" => "bs-example-navbar-collapse-1"}
				%ul.navbar-nav
					= render 'default/shared/navigation'

		.container
			= yield

		%footer.footer.col-sm-12
			.container
				.row
					.col-6
						%p.text-muted For further information, please contact Lucy
					.col-6
						%p As listed on
						%a
						=link_to "Sawday", root_path
						%a
						=link_to "Twitter", root_path
						%a
						=link_to "Map", root_path
						%a
						=link_to "Press", root_path
						%a
						=link_to "Links", root_path

