.booyah-box
	.booyah-box
		.container-fluid
			.row
				= image_tag 'missery_arial.jpg', :class => "uploaded-pictures"
	%article
		.booyah-box
			.page-title
				%h1
					Check booking and availability
				intro text here!
			%br
			.text-content
				more text here if you want!
				%br
				%br
			.container
				.booking-form
					= simple_form_for @booking do |f|
						= f.input :name, :required => true
						= f.input :email, :required => true
						= f.input :message, :as => :text, :required => true, placeholder: 'Please tell us a little about yourself, and when you would you like to book'
						.hidden
							= f.input :nickname, :hint => 'Leave this field blank!'
						%br
						= f.button :submit, 'Send message', :class => "btn btn-primary"