.booyah-box
	.booyah-box
		.container-fluid
			.row
				= image_tag 'side.jpg', :class => "uploaded-pictures"
	%article
		.booyah-box
			.page-title
				%h1
					Inquire Prices & Availability
				%em “Coming back to Missery is like a love story with a happy end.” 
				%br
				= "- Rita"

			%br
			.text-content
				The chateau is available for rent as a whole from May - September. Please use below contact sheet to inquire about pricing and availability. We will be delighted to hear from you!
				%br
			.container
				.booking-form
					= simple_form_for @booking do |f|
						= f.input :name, :required => true
						= f.input :email, :required => true
						= f.input :message, :as => :text, :required => true, placeholder: 'Please tell us a little about yourself, and when you are interested in booking Château de Missery.'
						.hidden
							= f.input :nickname, :hint => 'Leave this field blank!'
						%br
						%p.text-center{"id" => "notice"} 
							= notice
						.text-center
							= f.button :submit, 'Send message', :class => "btn btn-primary"
						%br