.booyah-box
	.container-fluid
		.row
			= image_tag 'side.jpg', :class => "top-pictures"
	%article
		%br
		.page-title
			%h1
				Book Now or Enquire About Prices & Availability
			%br
			%em “Coming back to Missery is like a love story with a happy ending.” 
			%br
			= "- Rita"
			%br
			.text-content.text-center
				The château is available for exclusive use from May to September.  Rates start at €8,600, for up to 14 guests.
				%br
				Please use the contact sheet below to inquire about pricing and availability. 
				%br We will be delighted to hear from you!
				%br
			.container
				%p.alert-notice{"id" => "notice"} 
					= notice
				.booking-form
					= simple_form_for @booking do |f|
						= f.input :name, label:false, :required => true, placeholder: "Name"
						= f.input :email, label:false, :required => true, placeholder: "Email"
						= f.input :message, :as => :text, label:false, :required => true, placeholder: 'Please tell us a little about yourself, and when you are interested in booking Château de Missery.'
						.hidden
							= f.input :nickname, :hint => 'Leave this field blank!'
						%br
						
						.text-center
							= f.button :submit, 'Send message', :class => "btn btn-primary"
						%br
			.text-center.marg-top-3
				%a.crunchify-top{"href" =>"#"} Back to top