- pages = current_spina_user.present? ? Spina::Page.active : Spina::Page.live
- menu = Spina::Pages::MenuPresenter.new(pages.in_menu.arrange(order: :position), self, @page)
- menu.list_class = 'navbar-nav'
- menu.list_item_css = 'nav-item'
%ul.nav.navbar-nav.nl.auto.w-100.justify-content-end
	= menu.to_html
	%li.nav-item
		= link_to "Gallery", "/gallery"
	%a.dropdown-toggle{"data-toggle" => "dropdown", "href" => "#","aria-haspopup" => "true", "aria-expanded" => "false"} More
	%span.caret
	.dropdown-menu.dropdown-menu-right.dropdown-color
		%a.dropdown-item
			= link_to "Press", "/press"
		%a.dropdown-item
			= link_to "Location", "/location"
		%a.dropdown-item
			= link_to "Activities", "/activities"
		%a.dropdown-item
			= link_to "Notes from Patricia Delicia's Kitchen", "/notes-from-patricia-delicia-s-kitchen"
		%a.dropdown-item
			= link_to "Retreats & Experiences", "/relax-rejuvenate-enjoy-yoga-retreat"
		
		