.booyah-box
	.container-fluid
		.row
			= image_tag 'cover.jpg', :class => "top-pictures"

	%article
		.price-button
			%a.btn.btn-primary{"role" => "button", "href" => "/booking"} Book Now!

		.page-title
			%h1
				= @page.title
			= @page.content(:intro).try(:html_safe)
		.open-content
			.text-content
				= @page.content(:text).try(:html_safe)
				%br
		.container
			.row
				.col-sm-4
					= link_to image_tag(@page.content(:photolink1).try(:file_url), :class => "uploaded-pictures img-thumbnail"), get_url(@page.content(:textforphoto1))
					.caption
						= @page.content(:textforphoto1).try(:html_safe)
				.col-sm-4
					= link_to image_tag(@page.content(:photolink2).try(:file_url), :class => "uploaded-pictures img-thumbnail"), get_url(@page.content(:textforphoto2))
					.caption
						= @page.content(:textforphoto2).try(:html_safe)
				.col-sm-4
					= link_to image_tag(@page.content(:photolink3).try(:file_url), :class => "uploaded-pictures img-thumbnail"), get_url(@page.content(:textforphoto3))
					.caption
						= @page.content(:textforphoto3).try(:html_safe)
				.col-sm-4
					= link_to image_tag(@page.content(:photolink4).try(:file_url), :class => "uploaded-pictures img-thumbnail"), get_url(@page.content(:textforphoto4))
					.caption
						= @page.content(:textforphoto4).try(:html_safe)
				.col-sm-4
					= link_to image_tag(@page.content(:photolink5).try(:file_url), :class => "uploaded-pictures img-thumbnail"), get_url(@page.content(:textforphoto5))
					.caption
						= @page.content(:textforphoto5).try(:html_safe)
				.col-sm-4
					= link_to image_tag(@page.content(:photolink6).try(:file_url), :class => "uploaded-pictures img-thumbnail"), get_url(@page.content(:textforphoto6))
					.caption
						= @page.content(:textforphoto6).try(:html_safe)
		%br
		.container.text-right.text-muted.social-text
			= link_to image_tag("icon.png", :class => "social-icon"), 'https://www.instagram.com/chateaudemissery/', :target => "_blank"
			= link_to image_tag("twitter_logo.png", :class => "social-icon"), "https://twitter.com/chateaumissery"
		.text-center.marg-top-3
			%a.crunchify-top{"href" =>"#"} Back to top