.booyah-box
	.carousel-mod
		#carouselExampleControls.carousel.slide{"data-ride" => "carousel"}
			.carousel-inner{"role" => "listbox"}
				.carousel-item.active
					= image_tag 'missery_arial.jpg', :class => "d-block img-fluid carousel-img"
				.carousel-item
					= image_tag 'arrive.jpg', :class => "d-block img-fluid carousel-img"

			<!-- carousel controls invisible due to white background of pictures -->
			%a.carousel-control-prev{:href => "#carouselExampleControls", "role" => "button", "data-slide" => "prev"}
				%span.carousel-control-prev-icon{"aria-hidden" => "true"}
				%span.sr-only Previous
			%a.carousel-control-next{"href" => "#carouselExampleControls", "role" => "button", "data-slide" => "next"}
				%span.carousel-control-next-icon{"aria-hidden" => "true"}
				%soan.sr-only Next
				<span class="sr-only">Next</span>
	%article
		.booyah-box
			.price-button
				%button.btn.btn-primary{"type" => "button"} Check Prices & Availability
			.page-title
				%h1
					= @page.title
				= @page.content(:intro).try(:html_safe)
			%br
			.text-content
				= @page.content(:text).try(:html_safe)
				%br