.booyah-box
	%article
		%br
		.page-title
			%h1= @page.title
			= @page.content(:intro).try(:html_safe)
			.price-button-stick-right
				%a.btn.btn-primary{"role" => "button", "href" => "/booking"} Book Now!
		.row.container-fluid
			.col-sm-4
				- if @page.content(:photo_collection).try(:photos)
					%ul.img-pad
						- @page.content(:photo_collection).photos.each do |photo|
							= link_to image_tag(photo.file_url, :class => "uploaded-pictures img-thumbnail"), photo.file_url, :target => "_blank"
			.col-sm-8.text-content
				.open-content
					=@page.content(:text).try(:html_safe)
				%br
			.container
				%span
					%a.btn.btn-primary.price-button-bottom{"role" => "button", "href" => "/booking"} Book Now!
		.container.text-right.text-muted.social-text
			= link_to image_tag("icon.png", :class => "social-icon"), 'https://www.instagram.com/chateaudemissery/', :target => "_blank"
			= link_to image_tag("Facebook_logo_(square).png", :class => "social-icon"), "https://www.facebook.com/ChateaudeMissery/"
		.text-center.explore-text
			Continue exploring:
		.container
			.row
				.col-sm-4
					= link_to image_tag(@page.content(:photolink1).try(:file_url), :class => "uploaded-pictures"), get_url(@page.content(:textforphoto1))
					.caption
						= @page.content(:textforphoto1).try(:html_safe)
				.col-sm-4
					= link_to image_tag(@page.content(:photolink2).try(:file_url), :class => "uploaded-pictures"), get_url(@page.content(:textforphoto2))
					.caption
						= @page.content(:textforphoto2).try(:html_safe)
				.col-sm-4
					= link_to image_tag(@page.content(:photolink3).try(:file_url), :class => "uploaded-pictures"), get_url(@page.content(:textforphoto3))
					.caption
						= @page.content(:textforphoto3).try(:html_safe)
		.text-center.marg-top-3
			%a.crunchify-top{"href" =>"#"} Back to top
		%br