.booyah-box
	.booyah-box
		.container-fluid
			.row
				%img{:class => "uploaded-pictures", :src => @page.content(:photo).file_url}
	%article
		.booyah-box.page-title
			%h1= @page.title
			= @page.content(:intro).try(:html_safe)
			%br
			.text-content
				= @page.content(:text).try(:html_safe)
				%br
			.container
				.row
					.col-sm-4
						= link_to image_tag(@page.content(:photolink1).file_url, :class => "uploaded-pictures link-pics"), get_url(@page.content(:textforphoto1))
						.caption
							= @page.content(:textforphoto1).try(:html_safe)
					.col-sm-4
						= link_to image_tag(@page.content(:photolink2).file_url, :class => "uploaded-pictures"), get_url(@page.content(:textforphoto1))
						.caption
							= @page.content(:textforphoto2).try(:html_safe)
					.col-sm-4
						= link_to image_tag(@page.content(:photolink3).file_url, :class => "uploaded-pictures"), get_url(@page.content(:textforphoto1))
						.caption
							= @page.content(:textforphoto3).try(:html_safe)
			%br